@import "tailwindcss";

@theme {
  /* Color Palette */
  --color-ocean: #0077b6;
  --color-sky: #90e0ef;
  --color-sand: #f4e2bb;
  --color-base: #f8f9fa;
  --color-dark: #212529;

  /* Typography */
  --font-heading: var(--font-jakarta);
  --font-body: var(--font-inter);
}

/* Base application styling */
body {
  background-color: var(--color-base);
  color: var(--color-dark);
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}
